@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}


/*NAVIGATION*/
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 32px;
}
ul{
    list-style-type: none;
}
img {
    width: 100%;
}
.nav-logo {
    display: flex;
    justify-content: flex-start;

}
.nav-logo--img {
    width: 40px;
    height: 40px;

}
.nav-logo--title{
    padding: 6px 0px 6px 12px;
    font-size: 24px;
    font-weight: 900;
}
.nav-buttons-wrapper{
    display: flex;
    align-items: baseline;
}
.nav-links{
    display: flex;
    justify-content: space-between;
}

.nav-link{
    padding: 4px 0px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    margin: 0 30px;
    color: #243e63;
    border-bottom: 2px solid transparent;
    transition: all 300ms;
}
.nav-link:hover{
    color: #243e63;
    border-bottom-color: #6415ff;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.btn {
    font-weight: 600;
    color: white;
    background-color: #6415ff;
    text-align: center;
    border: none;
    border-radius: 9999px; 
    padding: 10px 32px;
    line-height: 1.5;
    transition: all 300ms;
}
.btn:hover{
    background-color: #4d13c1;
    cursor: pointer;
}
.purple {
    color: #6415ff;
}

/* TEMPLATES */

.templates_container{
    padding-top: 124px;
    display: flex;
}
.templates_left{
    max-width: 40%;
}
.templates_right{
    max-width: 60%;
}
.section_titles{
    font-weight: 700;
    line-height: 1.25;
    color: rgba(26, 32, 44, 1);
    font-size: 48px;
}
.template_para {
    font-size: 18px;
    margin: 32px 0;
    letter-spacing: 0.7px;
    color: rgba(36, 62, 99, 1);
    line-height: 1.5;
}
.customers_display{
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.6px;
    color: rgb(160, 174, 192);
    margin: 50px 0;
    padding-top: 36px;
    padding-right: 32px;
}
.template_img--wrapper{
    opacity: 0.5;
    max-width: 100%;
    padding-top: 20px;
}
.input_area{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 12px;
    right: 20px;
}
.input_text{
    width: 100%;
    text-align: start;
    border-radius: 9999px;
    padding: 24px 30px 24px 30px;
    font-size: 16px;
    font-weight: 500;
    border: 2px solid rgb(229, 231, 235);
    transition: all 300ms;
}
.input_text:hover{
    border-color: #8391a5;
}
.btn.start{
    position: absolute;
    right: 24px;
    padding: 16px 32px;
}

/* FEATURES */

.features_title--area{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section_tag{
    font-size: 16px;
    color: #6415ff;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.6px;
}
.intro_text{
    max-width: 700px;
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.625;
    text-align: center;
}
.features_container{
    display: flex;
   flex-wrap: wrap;
   padding-top: 50px;
}
.feature{
    padding: 24px;
    width: calc(100%/3);
    display: flex;
    align-items: center;
}
.feature_symbol--wrapper{
    width: 50px;
    height: 50px;
    border: 1px solid #bac4d2;
    border-radius: 50%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 96px;
}
.symbol{
    width: 24px;
    height: 24px;
}
#features{
    padding: 100px;
}
.feature_title{
    padding-bottom: 12px;
}
.section_titles{
    font-size: 48px;
    font-weight: 900;
    color: rgb(36, 62, 99);
    line-height: 1.3;
    margin: 16px 0;
    letter-spacing: 1.2px;
}
.feature_para{
    max-width: 250px;
    font-size: 16px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 2;
    text-align: left;
}
.feature_text{
    display: flex;
    flex-direction: column;
    margin-left: 24px;
}

/* QUALITY WORK */

.gen_text{
    max-width: 650px;
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.625;
    text-align: left;
}

#quality_work{
    margin: 100px;
}
.quality_section{
    display: flex;
}
.quality_left{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}
.quality_button{
    margin-top: 45px;
    max-width: 150px;
    padding: 16px 20px;
}
.quality_right{
    width: 50%;
    position: relative;
}
.quality_img{
     margin-left: 30px;
     z-index: 1;
     border: 0.5px solid #bbc1cc;
     border-radius: 1%;
}
.quality__decor{
    transform: translateX(50%) translateY(50%) scaleX(1) scaleY(1);
    width: 80px;
    height: 80px;
    position: absolute;
    right: -28px;
    bottom: 50px;
    z-index: -1;
    display: block;
    fill: rgba(100, 21, 255, 1);
}

/* STEPS */

.steps_container{
    display: flex;
    margin: 150px 0;
}
.steps_left{
    width: 50%;
    margin-top: 80px;
    position: relative;
}
.steps_right{
    padding: 32px 0 32px 64px;
}
.steps_img{
    width: 100%;
}
.steps__decor{
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 160px;
    height: 160px;
    opacity: 0.8;
    z-index: -10;
}
.step_intro{
    padding: 10px 0;
}
.step_number{
    color: #cbd5e0;
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
}
.step_title{
    font-weight: 600;
    font-size: 20px;
    color: #243e63;
    line-height: 1;
}
.step_para{
    font-size: 14px;
    color: #718096;
    margin-top: 12px;
    font-weight: 500;
    line-height: 2;
}
.step{
    padding: 16px 0;
    display: flex;
}
.step_text{
    padding-left: 24px;
}

/* VALUES */

.values_container{
    display: flex;
}
.values_left{
    width: 50%;
}
.values_right{
    width: 50%;
}
.value_title{
    display: flex;
    align-items: center;
}
.values_img{
    width: 100%;
    padding-left: 36px;
    margin-top: 50px;
}
.values_intro{
    padding: 30px 0;
}
.values_list{
    display: flex;
    align-items: center;
    padding-top: 30px;
}
.value_name{
    margin-left: 12px;
    font-size: 20px;
    font-weight: bold;
    color: #243e63;
}
.value_para{
    margin-top: 16px;
    line-height: 1.625;
    color: #718096;
}
.values_button{
    margin-top: 32px;
    padding: 16px 32px;
}
.value{
    padding: 0 20px;
}
.suitcase{
    color: #9a1f1f;
    border: 1px solid #deb5b5;
    background-color: #deb5b5;
    border-radius: 50%;
    padding: 6px 10px;
}
.dollar__sign{
    color: #2e8638;
    border: 1px solid #c4e6c8;
    background-color: #c4e6c8;
    border-radius: 50%;
    padding: 6px 12px;
}

/* PRICING */

#pricing{
    margin: 100px 0;
}
.pricing_intro{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.plans{
    display: flex;
    align-items: center;
    margin: 80px 0;
    text-align: center;
    position: relative;
}
.plan{
    width: calc(100%/3);
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 55px 0px 30px 0px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.plan_top{
    margin-bottom: 50px;
}
.plan_middle{
    margin-bottom: 10px;
    border-bottom: 2px solid rgb(229, 231, 235);
    border-top: 2px solid rgb(229, 231, 235);
    padding: 35px 0;
}
.plan_stripe{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 9px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.plan_stripe.personal{
    color: white;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}
.plan_stripe.enterprise{
    color: white;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}
.plan_name{
    color: #1a202c;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.65;
    letter-spacing: 1.5;
}
.plan_price{
    color: #1a202c;
    font-size: 48px;
    margin: 4px 0;
    font-weight: bold;
    line-height: 1.625;
}
.pay_plan{
    color: #a0aec0;
    font-size: 16px;
    letter-spacing: 1.6px;
    font-weight: bold;
    line-height: 1.625;
    text-transform: uppercase;
}
.plan_user{
    color: #1a202c;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.5px;
}
.plan_feature{
    margin-top: 20px;
    font-weight: 500;
    color: #718096;
    font-size: 16px;
    line-height: 1.5;
}
.plan_buttom{
    font-weight: 600;
    color: white;
    text-align: center;
    margin: 30px 0px 10px 0;
    border: none;
    border-radius: 9999px; 
    padding: 12px 52px;
    line-height: 1.5;
    text-transform: uppercase;
    transition: all 400ms;
}
.plan_buttom:hover{
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    top: 1px;
    transform: translateY(-3px);
}
.plan.personal_plan{
    position: relative;
    z-index: 1;
}
.plan.business_plan{
    margin: 0 42px;
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
    position: relative;
    z-index: 1;
}
.plan.enterprise_plan{
    position: relative;
    z-index: 1;
}

.plan_middle.business{
    border-color: rgb(102, 126, 234);;
}
.plan_buttom.business{
    background-color: white;
    color: #6415ff;
}
.plan_buttom.personal{
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}
.plan_buttom.enterprise{
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}
.plan_name.business, .plan_price.business, .pay_plan.business, .plan_user.business, .plan_feature.business{
    color: white;
}
.plans__decor{
    z-index: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateX(-50%) translateY(50%) scaleX(1) scaleY(1);
    height: 256px;
    width: 256px;
    opacity: 0.25;
}

/* TESTIMONIALS */

.testimonials__container{
    display: flex;
    margin: 200px 0px;
}
.testimonials__left{
    padding-top: 45px;
    width: 50%;
}
.testimonials__right{
    padding-left: 50px;
    width: 50%;
}
.stars{
    display: flex;
    color: rgb(246 173 85);
    padding: 20px 0px;
}
.star{
    padding: 0px 4px;
}
.testimonial__title{
    color: #4a5568;
    line-height: 1.625;
    font-size: 20px;
    font-weight: 700;
}
.testimonial__para{
    font-weight: 500;
    line-height: 1.625;
    font-size: 16px;
    color: rgb(74 85 104);
    margin-top: 20px;
}
.user__profile{
    padding-top: 20px;
    display: flex;
    align-items: center;
}
.user__img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.user__info{
    padding-left: 30px;
}
.user__details{
    color: #7c8ba1;
    font-weight: 500;
    line-height: 1.5;
}
.testimonials__buttons{
    margin-left: 100px;
    display: flex;
}
.arrow__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    background: #edf2f7;
    border-radius: 50%;
    border-color: transparent;
    margin: 0 12px;
    transition: all 300ms ease;
}
.arrow__btn:hover{
    background-color: #cfd6dba3;
    cursor: pointer;
}
.arrow{
    color: #6415ff;
    width: 16px;
    height: 16px;
}

/* DEVELOPERS */

.developers__container{
    background-color: #6415ff;
    margin: 100px 0px 150px 0px;
    padding: 96px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}
.developer__para{
    color: #f7fafc;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
    z-index: 2;
    margin-right: 120px;
}
.developer__btn{
    padding: 20px 40px;
    border-radius: 500px;
    font-weight: 700;
    font-size: 16px;
    color: #f7fafc;
    line-height: 1.5;
    margin: 1px;
    z-index: 2;
}
.red__btn{
    background-color: #f56565;
    margin-right: 20px;
    border-color: transparent;
    transition: all 300ms;
}
.red__btn:hover{
    background-color: #f43f3f;
    cursor: pointer;
}
.purple__btn{
    background-color: #6415ff;
    border: 0.7px solid #f7fafc;
    transition: all 300ms;
}
.purple__btn:hover{
    background-color: #f7fafc;
    color: #6415ff;
    cursor: pointer;
}

/* FOOTER */

footer{
    height: 536px;
    background-color: #6415ff;
    margin-top: 50px;
}
.links{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.link__group{
display: flex;
flex-direction: column;
width: calc(100%/5);
align-items: center;
margin-top: 80px;
}
.link__category{
    font-weight: 700;
    color: #f7fafc;
    line-height: 1.5;
    text-transform: uppercase;
}
.footer__link{
    font-size: 14px;
    margin-top: 24px;
    padding-bottom: 4px;
    color: #f7fafc;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: all 300ms;
}
.footer__link:hover{
    border-bottom-color: #f7fafc;
}
.footer__divider{
    width: 100%;
    height: 2px;
    margin: 64px 0;
    background: rgb(116, 44, 255);
}
.footer__bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__logo{
    display: flex;
    align-items: center;
}
.footer__logo--img{
    height: 32px;
    width: 32px;
}
.footer__logo--title{
    font-size: 20px;
    color: #f7fafc;
    font-weight: 900;
    margin-left: 8px;
    letter-spacing: 1px;
}
.footer__copyright{
    color: #cbd5e0;
    font-weight: 500;
}
.footer__socials{
    display: flex;
    justify-content: space-between;
}
.footer__social{
    color: #243e63;
    padding: 8px 10px;
    margin: 0px 12px;
    border: 1px solid #f7fafc;
    border-radius: 50%;
    background-color: #f7fafc;
    transition: all 300ms;
}
.footer__social:hover{
    cursor: pointer;
    border-color: #bcc7d3;
    background-color: #bcc7d3;
}
.fb{
    padding: 8px 13px;
}