@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/*NAVIGATION*/
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 32px;
}
ul{
    list-style-type: none;
}
img {
    width: 100%;
}
.nav-logo {
    display: flex;
    justify-content: flex-start;

}
.nav-logo--img {
    width: 40px;
    height: 40px;

}
.nav-logo--title{
    padding: 6px 0px 6px 12px;
    font-size: 24px;
    font-weight: 900;
}
.nav-buttons-wrapper{
    display: flex;
    align-items: baseline;
}
.nav-links{
    display: flex;
    justify-content: space-between;
}
.nav-link{
    padding: 0 12px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    margin: 0 24px;
     color: #243e63;
}
.nav-link:hover{
    text-decoration: underline;
    color: #6415ff;
}
.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.btn {
    font-weight: 600;
    color: white;
    background-color: #6415ff;
    text-align: center;
    border: none;
    border-radius: 9999px; 
    padding: 10px 32px;
    line-height: 1.5;
}
.purple {
    color: #6415ff;
}

/* TEMPLATES */

.templates_container{
    padding-top: 124px;
    display: flex;
}
.templates_left{
    max-width: 40%;
}
.templates_right{
    max-width: 60%;
}
.section_titles{
    font-weight: 700;
    line-height: 1.25;
    color: rgba(26, 32, 44, 1);
    font-size: 48px;
}
.template_para {
    font-size: 18px;
    margin: 32px 0;
    letter-spacing: 0.7px;
    color: rgba(36, 62, 99, 1);
    line-height: 1.5;
}
.customers_display{
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.6px;
    color: rgb(160, 174, 192);
    margin: 80px 0;
    padding-top: 36px;
    padding-right: 32px;
}
.template_img--wrapper{
    opacity: 0.5;
    max-width: 100%;
    padding-top: 20px;
}
.input_area{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 12px;
}
.input_text{
    width: 100%;
    text-align: start;
    border-radius: 9999px;
    padding: 24px;
}
.btn.start{
    position: absolute;
    right: 24px;
    padding: 16px 32px;
}

/* FEATURES */

.features_title--area{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section_tag{
    font-size: 16px;
    color: #6415ff;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.6px;
}
.intro_text{
    max-width: 650px;
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.625;
    text-align: center;
}
.features_container{
    display: flex;
   flex-wrap: wrap;
   padding-top: 50px;
}
.feature{
    padding: 24px;
    width: calc(100%/3);
    display: flex;
    align-items: center;
}
.feature_symbol--wrapper{
    width: 50px;
    height: 50px;
    border: 1px solid #bac4d2;
    border-radius: 50%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 96px;
}
.symbol{
    width: 24px;
    height: 24px;
}
#features{
    padding: 100px;
}
.feature_title{
    padding-bottom: 12px;
}
.section_titles{
    font-size: 48px;
    font-weight: 900;
    color: rgb(36, 62, 99);
    line-height: 1.3;
    margin: 16px 0;
    letter-spacing: 1.2px;
}
.feature_para{
    max-width: 250px;
    font-size: 16px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 2;
    text-align: left;
}
.feature_text{
    display: flex;
    flex-direction: column;
    margin-left: 24px;
}

/* QUALITY WORK */

.gen_text{
    max-width: 650px;
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.625;
    text-align: left;
}

#quality_work{
    margin: 100px;
}
.quality_section{
    display: flex;
}
.quality_left{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}
.quality_button{
    margin-top: 45px;
    max-width: 150px;
    padding: 16px 20px;
}
.quality_right{
    width: 50%;
}
.quality_img{
     margin-left: 30px;
}

/* STEPS */

.steps_container{
    display: flex;
    margin: 150px 0;
}
.steps_left{
    width: 50%;
    margin-top: 80px;
}
.steps_right{
    padding: 32px 0 32px 64px;
}
.steps_img{
    width: 100%;
}
.step_intro{
    padding: 10px 0;
}
.step_number{
    color: #cbd5e0;
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
}
.step_title{
    font-weight: 600;
    font-size: 20px;
    color: #243e63;
    line-height: 1;
}
.step_para{
    font-size: 14px;
    color: #718096;
    margin-top: 12px;
    font-weight: 500;
    line-height: 2;
}
.step{
    padding: 16px 0;
    display: flex;
}
.step_text{
    padding-left: 24px;
}
.steps_tag{
}

/* VALUES */

.values_container{
    display: flex;
}
.values_left{
    width: 50%;
}
.values_right{
    width: 50%;
}
.values_img{
    width: 100%;
    padding-left: 36px;
    margin-top: 50px;
}
.values_intro{
    padding: 30px 0;
}
.values_list{
    display: flex;
    padding-top: 30px;
}
.value_name{
    margin-left: 12px;
    font-size: 20px;
    font-weight: bold;
    color: #243e63;
}
.value_para{
    margin-top: 16px;
    line-height: 1.625;
    color: #718096;
}
.values_button{
    margin-top: 32px;
    padding: 16px 32px;
}
.value{
    padding: 0 20px;
}
.value_symbol{
    color: greenyellow;
}